body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Zilla Slab', serif;
  
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  --s: 200px; /* control the size */
  
  --_g: #dc9d37 25%,#fed450 0 50%,#0000 0;
  --_l1: #fff 0 1px,#0000 0 calc(25% - 1px),#fff 0 25%;
  --_l2: #fff 0 1px,#0000 0 calc(50% - 1px),#fff 0 50%;
  background:
    repeating-linear-gradient( 45deg,var(--_l1)),
    repeating-linear-gradient(-45deg,var(--_l1)),
    repeating-linear-gradient(  0deg,var(--_l2)),
    repeating-linear-gradient( 90deg,var(--_l2)),
    conic-gradient(from 135deg at 25% 75%,var(--_g)),
    conic-gradient(from 225deg at 25% 25%,var(--_g)),
    conic-gradient(from  45deg at 75% 75%,var(--_g)),
    conic-gradient(from -45deg at 75% 25%,var(--_g)),
    repeating-conic-gradient(#125c65 0 45deg,#bc4a33 0 90deg);  
  background-size: var(--s) var(--s);
}

  

p {
  color: #e7f6f2;
}
/* header */
#header {
  padding: 10%;
  text-align: center;
  color: #e7f6f2;
}
/* resume section */
.resume-title {
  flex-basis: 20%;
  border-right: solid;
  text-align: center;
  padding-top: 2%;
  margin-right: 5%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#job-history, #education {
  padding: 2.5%;
  color: #e7f6f2;
  font-size: 14px;
}
.text-container {
  background-color: rgba(251, 80, 18, 0.82);
  margin: 2% 20%;
  flex-grow: 1;
  
}
/* skills */
#skills {
  color: #e7f6f2;
  padding: 2.5%;
  font-size: 20px;
}
.skills-list {
  margin-left: 20px;
  font-style: italic;
  font-size: 14px;
}
/* education */
.school-info {
  font-style: italic;
}
li {
  text-indent: -20px;
  margin-left: 20px;
}
/* footer */
#footer {
  width: 100%;
  margin-top:5%;
  background-color: rgba(251, 80, 18, 0.82);
  text-align: center;

}
.social-icons {
  margin: 20px 10px;
  color: #e7f6f2;
}
