body, h1, h2, h3, h4, h5, h6 {
  font-family: "raleway";
  
}

body {
    --s: 70px; /* control the size */
    
    --_g:,#0000 75%,#F67280 0;
    background:
      linear-gradient(-45deg var(--_g)),
      linear-gradient( 45deg var(--_g)) 
       0 calc(var(--s)/2) #355C7D;
    background-size: var(--s) var(--s);
  }
  

p {
  color: #8f8f8f;
}
/* header */
#header {
  padding: 2.5%;
  text-align: center;
  color: #e7f6f2;
}
/* resume section */
.resume-title {
  flex-basis: 20%;
  border-right: solid;
  text-align: center;
  padding-top: 2%;
}
#job-history, #education {
  padding: 2.5%;
  color: #2c3333;
}
.text-container {
  background-color: rgba(251, 80, 18, 0.82);
  margin: 0 20%;
  
}
/* skills */
#skills {
  padding: 2.5%;
}
.skills-list {
  margin-left: 20px;
  font-style: italic;
  color: #8f8f8f;
}
/* education */
.school-info {
  font-style: italic;
}
li {
  text-indent: -20px;
  margin-left: 20px;
}
/* footer */
#footer {
  text-align: center;
}
.social-icons {
  margin: 20px 10px;
  color: #e7f6f2;
}
